#receveurs{
	float:left;
	width: 200px;
	height: 400px;
	padding-left: 100px;
	margin-left: 80px;
	margin-top: 100px;
	overflow-y: scroll;

}
#receveurs input[type='button']:hover{
	background-color: red;
}

#receveurs input[type='button']{
	width:100px;
	background-color: green;
	color:white;
}

#formEnvoie{

}
ul#listPseudo.suggestions{
	padding-right: 0px;
	margin-left: 5px;
	margin-right: 0px;
}

#listPseudo{
	position : fixed;
	list-style-type:none;
	width: 200px;
}

#listPseudo li{
	padding-left: 10px;
}

.notifications {
	position: fixed;
	top:70px; left: 70%; right:25px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dbdbdb)); 
	background-image: -webkit-linear-gradient(top, #ffffff, #dbdbdb);
	background-image: -moz-linear-gradient(top, #ffffff, #dbdbdb);
	background-image: -o-linear-gradient(top, #ffffff, #dbdbdb);
	background-image: -ms-linear-gradient(top, #ffffff, #dbdbdb);
	background-image: linear-gradient(top, #ffffff, #dbdbdb);
	z-index: 2000;
	color: #000;
	font: normal 12px HelveticaNeue, Helvetica, Arial, sans-serif;
	box-shadow: (0px 4px 30px rgba(0,0,0,0.5));
	-moz-box-shadow: 5px 5px 0px 0px #656565;
	-webkit-box-shadow: 5px 5px 0px 0px #656565;
	-o-box-shadow: 5px 5px 0px 0px #656565;
	box-shadow: 5px 5px 0px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=0);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#pidPseudo{
	text-align: right;
	padding-right: 20px;
	font: bold 15px HelveticaNeue, Helvetica, Arial, sans-serif;;
}
.notification {
	cursor: pointer;
	border-bottom:1px solid #C1C1C1;
	box-shadow: (0px 1px 0px #FFF);
}

.notification:last-child{
	border-bottom: none;
	box-shadow: (0px 0px 0px transparent);
}

h2 {
	font-size: 14px;
	font-weight: bold;
	margin: 0px;
	padding: 10px 0;
}


.left{
	float: left;
	/*height: 100%; */
	width: 60px;
	padding: 0 10px;
	top: 0; left: 0;
	border-right: 1px solid rgba(0,0,0,0.2);
}

.right{
	margin-left: 70px;
}
p{
	margin: 0px; padding: 0px;
	padding-bottom: 10px;
}

#imgIcone{
	width: 50px;
	height: 50px;
}
.icon {
	font-family:  "Entypo";
	font-size: 30px;
	line-height: 0px;
	margin-top: 30px;
	text-align: center;
	text-shadow: (0px 1px 0px #fff);
}

#formPseudo{
	margin-top: 40px;
}

#scrollNotif{
	overflow-y: scroll;
	overflow-x: hidden;
	width: 355px;
	height: 330px;
	display : none;
	padding-right: 10px;
}

div#divLogin {
	margin-top: 40px;
	visibility:visible;
	position: absolute;
    z-index:0;
}

div#divAccount{
	margin-top: 40px;
	visibility:hidden;
	position: relative;
    z-index:1;
}


ul#LoginAccount{
	float:left;
}


div#titre{
	float:right;
}

